/* AddCategory.css */
.add-category-container {
    padding: 20px;
  }
  
  .image-upload-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  